{
  "API": "",
  "CaseCode": false,
  "Dependencies": [
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": false,
  "OnApplicationStartup": "",
  "OnBuild": "",
  "OnSave": "",
  "ProjectSpace": "#.Playfair",
  "StartUp": "",
  "URL": "https://github.com/the-carlisle-group/Playfair",
  "Version": "0.0.1"
}
